
.productdisplay {
    display: flex;
    max-width: 1200px;
    margin-top: 30px;
    padding: 20px;

}

.display-left {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.image-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}

.image-list img {
    width: auto; 
    height: 100px; 
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s ease;
    margin-bottom: 10px; /* Spacing between images */
}

.image-list img:hover {
    border: 2px solid #007bff;
}

.display-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-img .main-image {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
}

.display-right {
    flex: 1;
    margin: 10px;
}

.display-right h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.product-prices {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
    justify-content: center;
}

.product-old-price {
    font-size: 18px;
    color: #999;
    text-decoration: line-through;
    margin-right: 10px;
}

.product-new-price {
    font-size: 22px;
    color: #e63946;
    font-weight: bold;
}

.product-size {
    margin-bottom: 20px;
}

.product-size h1 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    margin-top: 50px;
}

.size-choice {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.size-choice div {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.size-choice div:hover {
    background-color: gray;
    color: white;
}

.display-right button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #e63946;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: gray;
}